# データベース（MySQL）の設定
MYSQL_ROOT_PASSWORD=root_password
MYSQL_DATABASE=go_samurai_store_db
MYSQL_USER=go_samurai_store_user
MYSQL_PASSWORD=go_samurai_store_password

# GoがMySQLコンテナに接続するための情報
DB_DSN=go_samurai_store_user:go_samurai_store_password@tcp(db:3306)/go_samurai_store_db?charset=utf8mb4&parseTime=True&loc=Local

# JWTの秘密鍵
JWT_SECRET=

# Stripeのシークレットキー（sk_test_...）
STRIPE_SECRET_KEY=
# Stripe Webhookの署名シークレット（whsec_...）
STRIPE_WEBHOOK_SECRET=